.RunPane-Root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.RunPane-Header {
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: box-shadow 0.2s;
}

.RunPane-List {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Theme-Dark .RunPane-Header {
  box-shadow: 0 0.5px 0.5px rgba(255, 255, 255, 0.1);
}
