.IconButton-Root {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.IconButton-Dim {
  opacity: 0.2;
  transition: opacity 0.2s;
}

.IconButton-Dim:hover {
  opacity: 1;
}
