.Text-Root {
  color: black;
  transition: color 0.2s;
}

.Theme-Dark .Text-Root {
  color: white;
}

.Text-DisplayStyleBlock {
  display: block;
}

.Text-DisplayStyleInline {
  display: inline;
}

.Text-FontStylePrimary {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.Text-FontStyleMonoLarge {
  font-family: 'Source Code Pro', monospace;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
}

.Text-FontStyleMonoPrimary {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.Text-FontStyleMonoSemibold {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.Text-FontStyleMonoXLarge {
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.Text-FontStyleMonoXXLarge {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
}

/*
 * Forcing the line height causes the height of the text to match the line
 * height. This is meant for cases where you still want empty text to take
 * line height.
 */

.Text-ForceLineHeight.Text-FontStylePrimary {
  min-height: 16px;
}

.Text-ForceLineHeight.Text-FontStyleMonoPrimary {
  min-height: 20px;
}

.Text-ForceLineHeight.Text-FontStyleMonoSemibold {
  min-height: 20px;
}

.Text-ForceLineHeight.Text-FontStyleMonoLarge {
  min-height: 24px;
}

.Text-ForceLineHeight.Text-FontStyleMonoXLarge {
  min-height: 28px;
}

.Text-ForceLineHeight.Text-FontStyleMonoXXLarge {
  min-height: 30px;
}
