.App {
  background-color: white;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  transition: background-color 0.2s;
  top: 0;
}

.App.Theme-Dark {
  background-color: #1e1e1e;
}
